<section class="container-fluid" id="content">
  <div class="row">
    <div class="col-sm-12" style="height: auto">
      <rz-pie
            [chartType]="components[0].chartType"
            [title]="components[0].title"
            [subtitle]="components[0].subtitle"
            [value]="components[0].value"
            [radius]="components[0].radius"
            [legend]="components[0].legend"
            [labels]="components[0].labels"
            [category]="components[0].category"
            [data]="products.items | async"
            [filter]="filter"
       >
       </rz-pie>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12" style="height: auto">
      <rz-chart
        [title]="components[1].title"
        [subtitle]="components[1].subtitle"
        [chartType]="components[1].chartType"
        [legend]="components[1].legend"
        [value]="components[1].value"
        [aggregate]="components[1].aggregate"
        [category]="components[1].category"
        [categoryGroup]="components[1].categoryGroup"
        [limit]="components[1].limit"
        [categoryAxis]="components[1].categoryAxis"
        [valueAxis]="components[1].valueAxis"
        [series]="components[1].series"
        [data]="products.items | async"
        [filter]="filter"
      ></rz-chart>
    </div>
  </div>
</section>