<section class="container-fluid" id="content">
  <div class="row">
    <div class="col-sm-6" style="height: 725px">
      <rz-grid
        [title]="components[0].title"
        [subtitle]="components[0].subtitle"
        [data]="oData.items | async"
        [selection]="oData.selection | async"
        (select)="onRowSelect($event)"
        [columns]='components[0].columns'>
      </rz-grid>
    </div>
    <div class="col-sm-6" style="height: 586px">
      <rz-form
        [title]="components[1].title"
        [subtitle]="components[1].subtitle"
        [designMode]="false"
        [data]="oData.selection | async"
        (save)="oDataSave($event)"
        [fields]="components[1].fields"
        [schema]="oData.schema">
      </rz-form>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12" style="height: 297px">
      <rz-pie
            [chartType]="components[2].chartType"
            [title]="components[2].title"
            [subtitle]="components[2].subtitle"
            [value]="components[2].value"
            [radius]="components[2].radius"
            [legend]="components[2].legend"
            [labels]="components[2].labels"
            [category]="components[2].category"
            [data]="oData.items | async"
            [filter]="filter"
       >
       </rz-pie>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12" style="height: 274px">
      <rz-chart
        [title]="components[3].title"
        [subtitle]="components[3].subtitle"
        [chartType]="components[3].chartType"
        [legend]="components[3].legend"
        [value]="components[3].value"
        [aggregate]="components[3].aggregate"
        [category]="components[3].category"
        [categoryGroup]="components[3].categoryGroup"
        [limit]="components[3].limit"
        [categoryAxis]="components[3].categoryAxis"
        [valueAxis]="components[3].valueAxis"
        [series]="components[3].series"
        [data]="oData.items | async"
        [filter]="filter"
      ></rz-chart>
    </div>
  </div>
</section>