<section class="container-fluid" id="content">
  <div class="row">
    <div class="col-md-6">
      <rz-container [title]="grid0.title" [subtitle]="grid0.subtitle">
        <rz-grid
          [data]="oData.getList() | async"
          [selection]="oData.selection | async"
          (select)="oData.selection = $event"
          [columns]='grid0.columns'>
        </rz-grid>
      </rz-container>
    </div>

    <div class="col-md-6">
      <rz-form
        style="display:block; height: 100%"
        [designMode]="false"
        [data]="oData.selection | async"
        [service]="oData"
        [fields]="form0.fields"
        [schema]="oData.schema">
      </rz-form>
    </div>
  </div>
</section>